<ul>
    {{#each services as |service|}}
    <li><a href="{{service.path}}/{{service.api_version}}/graphiql.html">{{service.name}} GraphQLインタフェース</a></li>
    {{/each}}
    <li><a href="#">Swaggerインタフェース</a></li>
</ul>
